.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.toDoDetails {
  display: inline-flex;
}

 .toDOItemContainer  {
  border: 1px solid #ccc!important;
  border-radius: 15px;
}
/* .toDOItemContainer:nth-last-child(1) {
  background: red;
} */

.toDoInfo {
  margin: 3px;
}

.addButton {
  margin: 10px;
}

.toDoContainer {
  margin-left: 4%;
  margin-right: 4%;
}

.toDoList {
  border: 1px solid #ccc!important;
  margin-left: 15%;
  margin-right:15%;
  margin-bottom: 5%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sortForm{
  text-align: right;
}

.sortButton{
  margin:3px;
  border-radius: 3px;
}

.homeToDo{
  background-color: aqua;
  border: 1px solid #ccc!important;
  border-radius: 15px;
}

.workToDo{
  background-color: burlywood;
  border: 1px solid #ccc!important;
  border-radius: 15px;
}

.freeTimeToDo{
  background-color: blueviolet;
  border: 1px solid #ccc!important;
  border-radius: 15px;
}